<a href="https://colab.research.google.com/github/yuvateja124/yuvateja/blob/main/Untitled6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
# List example with 5 elements
my_list = [10, 20, 30, 40, 50]

# Accessing elements by index
print(my_list[0])   # Output: 10 (first element)
print(my_list[2])   # Output: 30 (third element)
print(my_list[-1])  # Output: 50 (last element)
print(my_list[1:4]) # Output: [20, 30, 40] (slice from index 1 to 3)

10
30
50
[20, 30, 40]

In [5]:
# Tuple example with 5 elements
my_tuple = ('apple', 'banana', 'cherry', 'date', 'elderberry')

# Accessing elements by index
print(my_tuple[0])    # Output: 'apple' (first element)
print(my_tuple[2])    # Output: 'cherry' (third element)
print(my_tuple[-1])   # Output: 'elderberry' (last element)
print(my_tuple[1:4])  # Output: ('banana', 'cherry', 'date') (slice from index 1 to 3)

apple
cherry
elderberry
('banana', 'cherry', 'date')

In [6]:
# Dictionary example with 5 key-value pairs
my_dict = {
    'name': 'Alice',
    'age': 30,
    'city': 'New York',
    'profession': 'Engineer',
    'hobby': 'Reading'
}

# Accessing elements by key
print(my_dict['name'])       # Output: 'Alice' (value associated with 'name')
print(my_dict['age'])        # Output: 30 (value associated with 'age')
print(my_dict.get('city'))   # Output: 'New York' (value associated with 'city')
print(my_dict.get('hobby'))  # Output: 'Reading' (value associated with 'hobby')

Alice
30
New York
Reading